#mineral1 {background-color: #ffffff;}

#mineral2 {background-color: #e6e6e6;}

#mineral3 {background-color: #cccccc;}

#mineral4 {background-color: #b2b2b2;}

#mineral5 {background-color: #999999;}

#mineral6 {background-color: #7f7f7f;
color: white;}

#mineral7 {background-color: #4c4c4c;
color: white;}

#mineral8 {background-color: #333333;
color: white;}

#mineral9 {background-color: #1a1a1a;
color: white;}

#mineral10 {background-color: #000000;
color: white;}